.loaderCont {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.siteLayout {
  min-height: calc(100vh - var(--navbar-height)) !important;
  &.layoutWithOutNavbar {
    margin-top: 0 !important;
    min-height: 100vh !important;
  }
}
